# Virtual Environment folders
venv/
env/

# Environment variable file (in case you meant .env)
.env

# Python artifacts
__pycache__/
*.pyc
.deepeval/
# ChromaDB / Vector Store data
chroma_db_data/
# Ignore the UUID folders (wildcard match)
[0-9a-fA-F]*-[0-9a-fA-F]*-[0-9a-fA-F]*-[0-9a-fA-F]*-[0-9a-fA-F]*/
